<ul class="nav">
  <li><a href="<%= main_app.spree_path %>">Shop</a></li>
  <!-- <li class="nav_divider">|</li> -->
  <li><a href="<%= main_app.about_path %>">About</a></li>
  <!-- <li class="nav_divider">|</li> -->
  <li><a href="<%= main_app.blog_path %>">Blog</a></li>
  <!-- <li class="nav_divider">|</li> -->
  <li><a href="<%= main_app.contact_path %>">Contact</a></li>
</ul>