<ul class="nav">
  <li><a href="/shop">Shop</a></li>
  <!-- <li class="nav_divider">|</li> -->
  <li><a href="#">About</a></li>
  <!-- <li class="nav_divider">|</li> -->
  <li><a href="#">Blog</a></li>
  <!-- <li class="nav_divider">|</li> -->
  <li><a href="#">Contact</a></li>
  
</ul>