<%= olivia_title('About') %>

<div class="row">
  <div class="six columns offset-by-one">
    <div style="background-color:grey; height:320px;"></div>
  </div>
  <div class="seven columns offset-by-one">
    <p>Olivia was born and raised in Chicago where she currently resides and runs her jewelry line.</p>
    <p>Following College where she studied Theatre with a performance and costume design focus, she moved to New York City and worked at fashion companies while also taking classes at The Fashion Institute of Technology. Olivia has always had a love of art and fashion which persuaded her to start her Headband line in college followed by her Jewelry line.</p>
    <p>Olivia now works as a stylist and buyer as well as pursuing her jewelry line.</p>
  </div>
</div>
