/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require nivo-slider
 *= require olivia
 */
@import "bootstrap";

a:focus {
  outline: none;
}

body{
  background-color: #D1D3D4;
}

.container {
	/*border: 1px solid black;*/
	width:1024px;
}

.container.white {
	background-color: #FFFFFF;
}

.navbar{
  color:#FFF;
}

.navbar-inner {
  background-color: #FFF;
  background-image: -moz-linear-gradient(center top , #FFF, #FFF);
  border-radius: 0 0 0 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
  margin-left:10px;
  margin-right:10px;
}

.navbar .nav{
  margin-left:150px;
}

.navbar .nav > li {
  margin: 0 15px;
}

.navbar .nav > li, a {
  text-shadow: none;
  font-size:19px;
}

.nav_divider{
  padding-top:10px;
  color:#999999;
  font-size:19px;
}
.navbar .nav > li > a{
  padding-top:5px;
  margin-top:5px;
  padding-bottom:5px;
  width:110px;
  text-align:center;
}

.navbar .nav > li > a:hover {
 /*color: #999999; */
 background-color:#999999;

}


