


.logo-header{
  background-color:#ccccff;
  height:100px;
}

.logo-header h1{
  color:#686868;
  padding-top:30px;
  padding-left:10px;

}

.footer-color{
  background-color:#ccccff;
  height:120px;
/*  position:absolute;*/
  bottom:0px;
}

.newsletter{
  margin-left:300px;
  margin-top:25px;
}

.newsletter label{
  width:200px!important;
  font-size:17px;
  padding-right:15px;
   color: #686868;
}



.info_link{
  margin-top:-3px;
  margin-left:370px;
}

.info_link a{
  color:#999999;
}

.info_link a:hover{
  color:#FFFFFF;
  text-decoration:none;
}

